@import '~antd/dist/antd.css';

.App {
  text-align: left;
}


.Radar {
  margin: auto;
  /* background: gold; */
  /* width: 50%; */
}

.btn {
  background-color: #282c34;
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  /* text-decoration: none; */
  cursor: pointer;
  display: inline-block;
  /* line-height: var(--button-line-height);
  padding: var(--button-padding-y) var(--button-padding-x); */
  margin: 0;
  height: auto;
  border: var(--border-width) solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  /* color: inherit;
  background-color: transparent; */
}

.image-container {
  display: flex;
  justify-content: center;
}